/* NORMALIZE ================================================ */

html, body {
	height: 100%;
}

body {
	min-width: 320px;
	overflow-x: hidden;
}

img {
	display: block;
	@include img-res;
}

ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

a {
	&:hover {
		text-decoration: none;
	}
}

a, input, select, textarea, .btn {
	&:focus {
		outline: none;
	}
}

.btn:focus, .btn.focus {
	box-shadow: none;
}