// ERIC MEYER - RESET CSS v2.0 ============================

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	// line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ADDITIONAL RESET ============================

* ,
*:hover ,
*:focus ,
*:active {
	outline: none !important;
	text-decoration: none;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	min-width: 320px;
	overflow-x: hidden;
}

// select
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}
// select END

// hide cross icon in IE
::-ms-clear {
	display: none;
}

// forms
button,
input,
optgroup,
select,
textarea {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
}

input {
	-webkit-appearance: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	cursor: pointer;
	-webkit-appearance: none;
}

textarea {
	resize: none;
	overflow-y: auto;
	overflow-x: hidden;
}
// forms END

// placeholder
::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity .3s;
}

::-moz-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity .3s;
}

:-moz-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity .3s;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity .3s;
}

:focus::-webkit-input-placeholder {
	opacity: 0;
}

:focus::-moz-placeholder {
	opacity: 0;
}

:focus:-moz-placeholder {
	opacity: 0;
}

:focus:-ms-input-placeholder {
	opacity: 0;
}
// placeholder END

.btn:focus,
.btn.focus,
.btn:active,
.btn:visited {
	box-shadow: none;
}

a {
	background-color: transparent;
}

img {
	max-width: 100%;
	height: auto;
	pointer-events: none;
}

// for slick ajax-loader.gif
.slick-list {
	.slick-loading & {
		background: none;
	}
}

.slick-slide {
	user-select: text;
}