{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-rational-order", "stylelint-prettier/recommended"],
  "plugins": ["stylelint-scss"],
  "ignoreFiles": [
    "src/scss/abstracts/_variables.scss",
    "src/libs/**/*.{css,scss}",
    "node_modules/**/*.{css,scss}",
    "dist/css/"
  ],
  "rules": {
    "selector-class-pattern": [
      "^[a-z]([-]?[a-z0-9]+)*(__[a-z0-9]([-]?[a-z0-9]+)*)?(--[a-z0-9]([-]?[a-z0-9]+)*)?$",
      {
        "resolveNestedSelectors": true
      }
    ],
    "declaration-block-no-duplicate-properties": [true, { "ignore": ["consecutive-duplicates"] }],
    "font-family-no-duplicate-names": true,
    "keyframe-block-no-duplicate-selectors": true,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "block-no-empty": true,
    "comment-no-empty": null,
    "no-empty-source": true,
    "color-no-invalid-hex": true,
    "function-calc-no-unspaced-operator": true,
    "media-query-no-invalid": null,
    "no-invalid-position-at-import-rule": null,
    "string-no-newline": true,
    "no-irregular-whitespace": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "declaration-block-no-shorthand-property-overrides": [true, { "ignoreDefaults": [true] }],
    "selector-anb-no-unmatchable": true,
    "annotation-no-unknown": [true, { "ignoreAnnotations": ["default"] }],
    "at-rule-no-unknown": null,
    "media-feature-name-no-unknown": true,
    "media-feature-name-value-no-unknown": true,
    "property-no-unknown": true,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "unit-no-unknown": true,
    "color-hex-alpha": "never",
    "color-named": "never",
    "length-zero-no-unit": true,
    "function-name-case": "lower",
    "selector-type-case": "lower",
    "value-keyword-case": ["lower", { "ignoreProperties": ["text-rendering"], "camelCaseSvgKeywords": true }],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["after-same-name", "first-nested"],
        "ignore": ["after-comment"],
        "ignoreAtRules": ["if", "else", "function", "include", "keyframes"]
      }
    ],
    "comment-empty-line-before": ["always", { "except": ["first-nested"] }],
    "declaration-empty-line-before": ["always", { "except": ["after-declaration", "first-nested"] }],
    "rule-empty-line-before": ["always-multi-line", { "except": ["after-single-line-comment", "first-nested"] }],
    "alpha-value-notation": "number",
    "color-hex-length": "long",
    "font-weight-notation": "numeric",
    "keyframe-selector-notation": "percentage-unless-within-keyword-only-block",
    "selector-pseudo-element-colon-notation": "single",
    "font-family-name-quotes": "always-unless-keyword",
    "function-url-quotes": "always",
    "selector-attribute-quotes": "always",
    "declaration-block-no-redundant-longhand-properties": true,
    "shorthand-property-no-redundant-values": true,
    "comment-whitespace-inside": "always",
    "selector-no-vendor-prefix": null,
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": [true, { "ignoreFontFamilies": ["icomoon"] }],
    "number-max-precision": 8,
    "scss/at-else-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-else-closing-brace-space-after": "always-intermediate",
    "scss/at-else-empty-line-before": "never",
    "scss/at-else-if-parentheses-space-before": "never",
    "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-if-closing-brace-space-after": "always-intermediate",
    "scss/at-if-no-null": true,
    "scss/at-function-parentheses-space-before": "never",
    "scss/at-mixin-argumentless-call-parentheses": "never",
    "scss/at-mixin-parentheses-space-before": "never",
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-colon-newline-after": null,
    "scss/dollar-variable-colon-space-after": "at-least-one-space",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-default": null,
    "scss/dollar-variable-empty-line-after": ["always", { "except": ["last-nested", "before-dollar-variable"] }],
    "scss/dollar-variable-empty-line-before": [
      "always",
      { "except": ["first-nested", "after-dollar-variable", "after-comment"] }
    ],
    "scss/dollar-variable-first-in-block": null,
    "scss/percent-placeholder-pattern": "^[a-z-]+$",
    "scss/double-slash-comment-empty-line-before": [
      "always",
      { "except": ["first-nested"], "ignore": ["between-comments"] }
    ],
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/comment-no-empty": true,
    "scss/comment-no-loud": null,
    "scss/declaration-nested-properties": "never",
    "scss/property-no-unknown": true,
    "scss/selector-nest-combinators": null,
    "scss/no-duplicate-dollar-variables": true,
    "scss/no-duplicate-mixins": true,
    "scss/no-global-function-names": null
  }
}
