.form-label {
  display: inline-block;
  cursor: pointer;
}

.form-control {
  caret-color: $input-color;
  text-overflow: ellipsis;

  &[disabled] {
    -webkit-text-fill-color: $input-disabled-color;
    cursor: not-allowed;
  }
}

textarea {
  &.form-control {
    &:not([rows]) {
      height: 200px;
    }
  }
}

.form-select {
  white-space: nowrap;
  text-overflow: ellipsis;

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[multiple] {
    &[size="1"] {
      padding-right: $form-select-indicator-padding;
      overflow: hidden;
      background-image: escape-svg($form-select-indicator);
      background-repeat: no-repeat;
      background-position: $form-select-bg-position;
      background-size: $form-select-bg-size;

      option {
        display: flex;
        align-items: center;
        height: calc($form-select-font-size * $form-select-line-height);
        padding: 0;
      }

      &.form-select-sm {
        option {
          height: calc($form-select-font-size-sm * $form-select-line-height);
        }
      }

      &.form-select-lg {
        option {
          height: calc($form-select-font-size-lg * $form-select-line-height);
        }
      }
    }
  }

  &[class*="choice"] {
    &:not([data-choice="active"]) {
      color: transparent;
    }
  }
}

.form-check {
  display: inline-block;
  cursor: $form-check-label-cursor;
}

.position-relative {
  > .invalid-feedback {
    position: absolute;
    top: calc(100% + $form-feedback-margin-top);
    left: 0;
    z-index: 5;
    margin-top: 0;
  }
}
