.form-label {
  display: inline-block;
  cursor: pointer;
}

.form-control {
  caret-color: $input-color;
  text-overflow: ellipsis;

  &[disabled] {
    -webkit-text-fill-color: $input-disabled-color;
    cursor: not-allowed;
  }
}

textarea {
  &.form-control {
    height: 200px;
  }
}

.form-select {
  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.position-relative {
  > .invalid-feedback {
    position: absolute;
    top: calc(100% + $form-feedback-margin-top);
    left: 0;
    z-index: 5;
    margin-top: 0;
  }
}
