.lazy {
  opacity: 0;

  &:not(.initial) {
    transition: opacity 1s;
  }

  &.applied,
  &.initial,
  &.loaded,
  &.error {
    opacity: 1;
  }
}

img {
  &:not([src], [srcset]) {
    visibility: hidden;
  }
}
