.slick-dots {
	bottom: -25px;

	li {
		width: $slick-dots-width;
		height: $slick-dots-height;
		margin: 0 $slick-dots-margin-left-right;
		button {
			width: $slick-dots-width;
			height: $slick-dots-height;
			padding: 0;
			&:before {
				transition: 0.5s;
				width: auto;
				height: auto;
				line-height: 1;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-weight: $slick-dots-weigth;
			}
		}
	}

	li:not(.slick-active) {
		button {
			&:hover {
				&:before {
					opacity: 0.5;
				}
			}
		}
	}
}