include ../data/_config.pug
include ../mixins/**/*.pug

block vars

doctype html
html(lang=siteLang)
  head
    include ../layout/_head.pug
  |
  |
  body(class=bodyClass)
    .page-wrapper
      // HEADER
      block header
        include ../layout/_header.pug
      // HEADER END
      |
      |
      // CONTENT
      main.main
        block content
      // CONTENT END
      |
      |
      // FOOTER
      block footer
        include ../layout/_footer.pug
      // FOOTER END
    |
    |
    // connection JAVASCRIPT
    block scripts
      include ../layout/_scripts.pug
