// keep aspect ratio of image
.img-keep-ratio {
	background-color: #000;
	width: 100%;
	position: relative;

	&_16-9 {
		padding-bottom: 56.25%;
	}

	&_4-3 {
		padding-bottom: 75%;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}