:root {
  --grid-gutter-width: #{strip-unit($grid-gutter-width) * 16};
}

html {
  @extend %custom-scrollbar;
}

body {
  min-width: 320px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  flex-grow: 1;
  overflow: hidden;
}

::selection {
  color: $white;
  background-color: $primary;
}

.bg-primary {
  ::selection {
    color: $white;
    background-color: $secondary;
  }
}
