.vertical-text-top-bottom {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	display: inline-block;
	margin: 0;
}

.vertical-text-bottom-top {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	transform: rotate(180deg);
	display: inline-block;
	margin: 0;
}

.slick-with-flex {
	.slick-track {
		display: flex;
	}

	.slick-slide {
		display: flex;
		height: auto;

		> div {
			width: 100%;
		}
	}
}

.slick-slides-spacing-15 {
	.slick-list {
		margin: 0 -15px;
	}

	.slick-slide {
		margin: 0 15px;
	}
}

.ofi {
	@include absoluteCover;

	object-fit: cover;
}