.of-contain {
  @include absolute-cover;

  object-fit: contain;
}

.of-cover {
  @include absolute-cover;

  object-fit: cover;
}

%custom-scrollbar {
  @include custom-scrollbar(8px, $dark, $primary, $border-radius-pill);
}

.custom-scrollbar {
  @extend %custom-scrollbar;
}

%custom-scrollbar-sm {
  @include custom-scrollbar(4px, $dark, $primary, $border-radius-pill);
}

.custom-scrollbar-sm {
  @extend %custom-scrollbar-sm;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.resize-animation-stopper * {
  transition: none !important;
}
