@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-up {
  0% {
    top: $dropdown-animation-offset;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    bottom: $dropdown-animation-offset;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}
