* ,
*:hover ,
*:focus ,
*:active {
	outline: none !important;
	text-decoration: none;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	min-width: 320px;
	overflow-x: hidden;
}

// select
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}
// select END

// hide cross icon in IE
::-ms-clear {
	display: none;
}

input {
	-webkit-appearance: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	cursor: pointer;
	-webkit-appearance: none;
}

textarea {
	resize: none;
	overflow-y: auto;
	overflow-x: hidden;
}
// forms END

// placeholder
::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity .3s;
}

::-moz-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity .3s;
}

:-moz-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity .3s;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity .3s;
}

:focus::-webkit-input-placeholder {
	opacity: 0;
}

:focus::-moz-placeholder {
	opacity: 0;
}

:focus:-moz-placeholder {
	opacity: 0;
}

:focus:-ms-input-placeholder {
	opacity: 0;
}
// placeholder END

.btn:focus,
.btn.focus,
.btn:active,
.btn:visited {
	box-shadow: none;
}

a {
	background-color: transparent;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

// for slick ajax-loader.gif
.slick-list {
	.slick-loading & {
		background: none;
	}
}

.slick-slide {
	user-select: text;
}