@use "sass:color";

.#{$choices-selector} {
  overflow: visible;
  font-weight: $form-select-font-weight;
  font-family: $form-select-font-family;
  line-height: $form-select-line-height;

  &.sm {
    .#{$choices-selector}__inner {
      padding: $form-select-padding-y-sm calc(($form-select-padding-x-sm * 2) + nth(split-string(#{$form-select-bg-size}, " "), 1)) calc($form-select-padding-y-sm - $choices-multiple-badge-indent) $form-select-padding-x-sm;
      font-size: $form-select-font-size-sm;
      border-radius: $form-select-border-radius-sm;
    }

    .#{$choices-selector}__list {
      &.#{$choices-selector}__list--multiple {
        .#{$choices-selector}__item {
          min-height: calc($form-select-font-size-sm * $form-select-line-height);
        }
      }

      &.#{$choices-selector}__list--dropdown {
        .#{$choices-selector}__input {
          padding: $input-padding-y-sm $input-padding-x-sm;
          font-size: $form-select-font-size-sm;
        }

        .#{$choices-selector}__item {
          padding: $form-select-padding-y-sm $form-select-padding-x-sm;
          font-size: $form-select-font-size-sm;
        }
      }
    }

    &[data-type*="select-one"] {
      .#{$choices-selector}__inner {
        padding-bottom: $form-select-padding-y-sm;
      }

      .#{$choices-selector}__button {
        right: calc(($form-select-padding-x-sm * 2) + nth(split-string(#{$form-select-bg-size}, " "), 1));
        height: calc($form-select-font-size-sm * $form-select-line-height);
      }

      &.with-remove-items-button {
        .#{$choices-selector}__inner {
          padding-right: calc(($form-select-padding-x-sm * 3) + (nth(split-string(#{$form-select-bg-size}, " "), 1) * 2));
        }
      }
    }

    &[data-type*="select-one"],
    &[data-type*="select-multiple"] {
      &:after {
        top: calc($form-select-padding-y-sm + $form-select-border-width);
        right: $form-select-padding-x-sm;
        height: calc($form-select-font-size-sm * $form-select-line-height);
      }
    }

    &[data-type*="select-multiple"] {
      .#{$choices-selector}__input {
        font-size: $form-select-font-size-sm;
      }
    }
  }

  &.lg {
    .#{$choices-selector}__inner {
      padding: $form-select-padding-y-lg calc(($form-select-padding-x-lg * 2) + nth(split-string(#{$form-select-bg-size}, " "), 1)) calc($form-select-padding-y-lg - $choices-multiple-badge-indent) $form-select-padding-x-lg;
      font-size: $form-select-font-size-lg;
      border-radius: $form-select-border-radius-lg;
    }

    .#{$choices-selector}__list {
      &.#{$choices-selector}__list--multiple {
        .#{$choices-selector}__item {
          min-height: calc($form-select-font-size-lg * $form-select-line-height);
        }
      }

      &.#{$choices-selector}__list--dropdown {
        .#{$choices-selector}__input {
          padding: $input-padding-y-lg $input-padding-x-lg;
          font-size: $form-select-font-size-lg;
        }

        .#{$choices-selector}__item {
          padding: $form-select-padding-y-lg $form-select-padding-x-lg;
          font-size: $form-select-font-size-lg;
        }
      }
    }

    &[data-type*="select-one"] {
      .#{$choices-selector}__inner {
        padding-bottom: $form-select-padding-y-lg;
      }

      .#{$choices-selector}__button {
        right: calc(($form-select-padding-x-lg * 2) + nth(split-string(#{$form-select-bg-size}, " "), 1));
        height: calc($form-select-font-size-lg * $form-select-line-height);
      }

      &.with-remove-items-button {
        .#{$choices-selector}__inner {
          padding-right: calc(($form-select-padding-x-lg * 3) + (nth(split-string(#{$form-select-bg-size}, " "), 1) * 2));
        }
      }
    }

    &[data-type*="select-one"],
    &[data-type*="select-multiple"] {
      &:after {
        top: calc($form-select-padding-y-lg + $form-select-border-width);
        right: $form-select-padding-x-lg;
        height: calc($form-select-font-size-lg * $form-select-line-height);
      }
    }

    &[data-type*="select-multiple"] {
      .#{$choices-selector}__input {
        font-size: $form-select-font-size-lg;
      }
    }
  }

  &.is-open {
    &[data-type*="select-one"],
    &[data-type*="select-multiple"] {
      &:after {
        margin-top: 0;
        transform: rotate(180deg);
      }
    }

    .#{$choices-selector}__list--dropdown,
    .#{$choices-selector}__list[aria-expanded] {
      border-color: $form-select-border-color;
    }
  }

  &.is-focused,
  &.is-open {
    .#{$choices-selector}__inner {
      background-color: $input-focus-bg;
      border-color: $form-select-focus-border-color;
      box-shadow: $form-select-focus-box-shadow;
    }
  }

  &.is-invalid,
  &:has(select.is-invalid) {
    .#{$choices-selector}__inner {
      border-color: $form-invalid-border-color;
    }

    ~ .invalid-feedback {
      display: block;
    }
  }

  &.is-valid,
  &:has(select.is-valid) {
    .#{$choices-selector}__inner {
      border-color: $form-valid-border-color;
    }

    ~ .invalid-feedback {
      display: block;
    }
  }

  &.is-disabled {
    .#{$choices-selector}__inner {
      color: $input-disabled-color;
      background-color: $input-disabled-bg;
      border-color: $input-disabled-border-color;
      cursor: not-allowed;
    }
  }

  &.with-dropdown-offset {
    &.sm {
      .#{$choices-selector}__inner {
        border-radius: $form-select-border-radius-sm;
      }
    }

    &.lg {
      .#{$choices-selector}__inner {
        border-radius: $form-select-border-radius-lg;
      }
    }

    .#{$choices-selector}__inner {
      border-radius: $form-select-border-radius;
    }

    .#{$choices-selector}__list {
      &.#{$choices-selector}__list--dropdown {
        margin-top: $dropdown-offset;
        border-radius: $form-select-border-radius;
      }
    }

    &.is-flipped {
      .#{$choices-selector}__list {
        &.#{$choices-selector}__list--dropdown {
          margin-top: 0;
          margin-bottom: $dropdown-offset;
        }
      }
    }
  }

  &.with-dropdown-animation-fade {
    .#{$choices-selector}__list {
      &.#{$choices-selector}__list--dropdown {
        display: block;
        visibility: hidden;
        opacity: 0;
      }
    }

    &.is-open {
      .#{$choices-selector}__list {
        &.#{$choices-selector}__list--dropdown {
          visibility: visible;
          opacity: 1;
          transition:
            opacity 0.3s,
            visibility 0.3s;
        }
      }
    }
  }

  &.with-dropdown-animation-transform {
    .#{$choices-selector}__list {
      &.#{$choices-selector}__list--dropdown {
        display: block;
        transform: translateY($dropdown-animation-offset);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
    }

    &.is-flipped {
      .#{$choices-selector}__list {
        &.#{$choices-selector}__list--dropdown {
          transform: translateY(-$dropdown-animation-offset);
        }
      }
    }

    &.is-open {
      .#{$choices-selector}__list {
        &.#{$choices-selector}__list--dropdown {
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
          transition:
            opacity 0.3s,
            visibility 0.3s,
            transform 0.3s;
          pointer-events: auto;
        }
      }
    }
  }

  &.with-remove-item-button-align-left {
    &[data-type*="select-multiple"],
    &[data-type*="text"] {
      .#{$choices-selector}__button {
        margin-right: 8px;
        margin-left: -4px;
        border-right: 1px solid color.adjust($choices-primary-color, $lightness: -10%);
        border-left: none;
      }
    }
  }

  &.with-text-style-multiple {
    &[data-type*="select-multiple"],
    &[data-type*="text"] {
      .#{$choices-selector}__list {
        &.#{$choices-selector}__list--multiple {
          .#{$choices-selector}__item {
            display: inline-block;
            height: auto;
            padding: 0;
            color: $form-select-color;
            font-size: $form-select-font-size;
            background-color: transparent;
            border-radius: 0;

            &:not(:last-child) {
              &:after {
                display: inline-block;
                content: ",\00a0";
              }
            }
          }
        }
      }
    }
  }

  &[data-type*="select-one"],
  &[data-type*="select-multiple"] {
    &:after {
      position: absolute;
      top: calc($form-select-padding-y + $form-select-border-width);
      right: $form-select-padding-x;
      display: block;
      width: nth(split-string(#{$form-select-bg-size}, " "), 1);
      height: calc($form-select-font-size * $form-select-line-height);
      margin-top: 0;
      background-image: escape-svg($form-select-indicator);
      background-repeat: no-repeat;
      background-position: center;
      background-size: $form-select-bg-size;
      border: none;
      transition: transform 0.3s;
      content: "";
      pointer-events: none;
    }

    select.#{$choices-selector}__input {
      &[hidden] {
        position: absolute;
        top: 0;
        left: 0;
        display: block !important;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__inner {
    display: block;
    min-height: auto;
    padding: $form-select-padding-y $form-select-indicator-padding calc($form-select-padding-y - $choices-multiple-badge-indent) $form-select-padding-x;
    border-width: $form-select-border-width;
    transition: $form-select-transition;
  }

  &__placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &__list {
    padding: 0;

    &.#{$choices-selector}__list--single {
      display: block;
      transition: $form-select-transition;

      .#{$choices-selector}__item {
        @include ellipsis;
      }
    }

    &.#{$choices-selector}__list--dropdown {
      border-color: $form-select-border-color;

      .#{$choices-selector}__placeholder {
        display: none;
      }

      .#{$choices-selector}__input {
        @include placeholder {
          color: $input-placeholder-color;
        }

        padding: $input-padding-y $input-padding-x;
        background-color: $input-bg;
        border-bottom-color: $input-border-color;
        border-bottom-width: $input-border-width;
      }

      .#{$choices-selector}__item {
        padding: $form-select-padding-y $form-select-padding-x;
        word-break: initial;
        transition:
          background-color 0.3s,
          color 0.3s;

        &.#{$choices-selector}__item--selectable {
          &.is-highlighted {
            background-color: transparent;
          }

          &:hover {
            color: $white;
            background-color: $secondary;
          }

          &.is-selected {
            color: $white;
            background-color: $choices-primary-color;
          }
        }
      }

      .#{$choices-selector}__list {
        @extend %custom-scrollbar-sm;

        max-height: 180px;
      }
    }

    &.#{$choices-selector}__list--multiple {
      &:not(:empty) {
        ~ .#{$choices-selector}__input {
          min-width: auto !important;

          @include placeholder {
            color: transparent;
          }
        }
      }

      .#{$choices-selector}__item {
        display: inline-flex;
        align-items: center;
        min-height: calc($form-select-font-size * $form-select-line-height);
        margin: 0 $choices-multiple-badge-indent $choices-multiple-badge-indent 0;
        padding: 2px 8px;
        font-weight: $font-weight-normal;
        line-height: 1.2;
        border: none;
        border-radius: $border-radius-pill;
      }
    }
  }

  &__input {
    margin: 0;
  }

  &[data-type*="select-one"] {
    &.with-remove-items-button {
      .#{$choices-selector}__inner {
        padding-right: calc($form-select-indicator-padding + $form-select-padding-x + nth(split-string(#{$form-select-bg-size}, " "), 1));
      }
    }

    .#{$choices-selector}__inner {
      padding-bottom: $form-select-padding-y;
    }

    .#{$choices-selector}__button {
      right: $form-select-indicator-padding;
      width: nth(split-string(#{$form-select-bg-size}, " "), 1);
      height: calc($form-select-font-size * $form-select-line-height);
      margin: 0;
      background-image: escape-svg($choices-icon-cross-inverse);
      background-size: 10px;
      border-radius: 0;
      transform: translateY(-50%);
      opacity: 0.5;
      transition: opacity 0.3s;
    }
  }

  &[data-type="select-multiple"] {
    &:not(.is-disabled) {
      .#{$choices-selector}__input,
      .#{$choices-selector}__inner {
        cursor: pointer;
      }
    }

    .#{$choices-selector}__input {
      @include placeholder {
        color: $input-placeholder-color;
      }

      margin-bottom: $choices-multiple-badge-indent;
      padding: 0;
      vertical-align: middle;
      background-color: transparent;
    }

    .#{$choices-selector}__inner {
      font-size: 0;
    }

    .#{$choices-selector}__button {
      transition: opacity 0.3s;
    }
  }
}
