.select2-container {
  &--bootstrap {
    display: block;
    width: auto !important;

    &.select2-container--open {
      &.select2-container--above {
        .select2-selection {
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
        }
      }

      &.select2-container--below {
        .select2-selection {
          border-bottom-right-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }

      .select2-selection {
        &__arrow {
          transform: translate(0, -50%) rotate(180deg);
        }

        &.select2-selection--multiple {
          .select2-selection__choice {
            &:last-child {
              &:after {
                display: inline-block;
                content: ",\00a0";
              }
            }
          }
        }
      }
    }

    &.select2-container--focus {
      .select2-selection {
        border-color: $form-select-focus-border-color;
        box-shadow: $form-select-focus-box-shadow;
      }
    }

    .select2-selection {
      height: auto;
      padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
      color: $form-select-color;
      font-weight: $form-select-font-weight;
      font-size: $form-select-font-size;
      font-family: $form-select-font-family;
      line-height: $form-select-line-height;
      background-color: $form-select-bg;
      border: $form-select-border-width solid $form-select-border-color;
      border-radius: $form-select-border-radius;
      transition: $form-select-transition;

      &--multiple {
        min-height: auto;

        &:after {
          position: absolute;
          top: 50%;
          right: $form-select-padding-x;
          display: block;
          width: nth(split-string(#{$form-select-bg-size}, " "), 1);
          height: nth(split-string(#{$form-select-bg-size}, " "), 2);
          background-image: escape-svg($form-select-indicator);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transform: translate(0, -50%);
          transition: transform 0.3s;
          content: "";
        }

        .select2-search {
          display: inline-block;
          margin: 0;

          &__field {
            @include placeholder {
              color: $input-placeholder-color;
              line-height: $input-line-height;
            }

            height: $input-font-size * $input-line-height;
            margin: 0;
            color: $input-color;
            font-weight: $input-font-weight;
            font-size: $input-font-size;
            font-family: inherit;
            line-height: $input-line-height;
            background-image: none;
            cursor: pointer;
          }
        }

        .select2-selection__choice {
          display: inline-block;

          &:not(:last-child) {
            &:after {
              display: inline-block;
              content: ",\00a0";
            }
          }
        }

        /* stylelint-disable-next-line selector-class-pattern */
        .select2-selection__choice__remove {
          display: none;
        }
      }

      &[aria-disabled="true"] {
        color: $form-select-disabled-color;
        background-color: $form-select-disabled-bg;
        border-color: $form-select-disabled-border-color;
        cursor: not-allowed;
      }

      &__placeholder {
        color: $input-placeholder-color;
      }

      &__rendered {
        padding: 0 !important;
      }

      &__arrow {
        position: absolute;
        top: 50%;
        right: $form-select-padding-x;
        width: nth(split-string(#{$form-select-bg-size}, " "), 1);
        height: nth(split-string(#{$form-select-bg-size}, " "), 2);
        background-image: escape-svg($form-select-indicator);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translate(0, -50%);
        transition: transform 0.3s;
      }
    }

    .select2-dropdown {
      z-index: $zindex-dropdown;
      overflow: hidden;
      background-color: $form-select-bg;
      border: $form-select-border-width solid $form-select-focus-border-color;
      border-radius: $form-select-border-radius;

      &--above {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        transform: translateY($form-select-border-width);
      }

      &--below {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        transform: translateY(calc(-1 * var(--#{$prefix}border-width)));
      }
    }

    .select2-results {
      @extend %custom-scrollbar;

      max-height: 300px;
      overflow: auto;

      &__option {
        padding: $form-select-padding-y $form-select-padding-x;
        color: $form-select-color;
        font-weight: $form-select-font-weight;
        font-size: $form-select-font-size;
        font-family: $form-select-font-family;
        line-height: $form-select-line-height;
        transition:
          background-color 0.3s,
          color 0.3s;

        &:not(.select2-results__message, .select2-results__option--selected) {
          &:hover {
            color: $white;
            background-color: $secondary;
          }
        }

        &.select2-results__option--selected {
          color: $white;
          background-color: $primary;
        }
      }

      &__message {
        padding: 0.5rem;
      }
    }

    .select2-search {
      &.select2-search--dropdown {
        padding: 0.5rem;

        .select2-search__field {
          @include placeholder {
            color: $input-placeholder-color;
          }

          padding: $input-padding-y $input-padding-x;
          color: $input-color;
          font-weight: $input-font-weight;
          font-size: $input-font-size;
          font-family: $input-font-family;
          line-height: $input-line-height;
          background-color: $input-bg;
          border: $input-border-width solid $input-border-color;
          border-radius: $input-border-radius;
          transition: $input-transition;

          &:focus {
            color: $input-focus-color;
            background-color: $input-focus-bg;
            border-color: $input-focus-border-color;
            box-shadow: $input-focus-box-shadow;
          }
        }
      }
    }
  }
}

.form-select {
  &.form-select-sm {
    ~ .select2-container {
      &--bootstrap {
        .select2-selection {
          padding: $form-select-padding-y-sm $form-select-indicator-padding $form-select-padding-y-sm $form-select-padding-x-sm;
          font-size: $form-select-font-size-sm;
          border-radius: $form-select-border-radius-sm;

          &__arrow {
            right: $form-select-padding-x-sm;
          }
        }

        .select2-dropdown {
          border-radius: $form-select-border-radius-sm;
        }

        .select2-results {
          &__option {
            padding: $form-select-padding-y-sm $form-select-padding-x-sm;
            font-size: $form-select-font-size-sm;
          }
        }
      }
    }
  }

  &.form-select-lg {
    ~ .select2-container {
      &--bootstrap {
        .select2-selection {
          padding: $form-select-padding-y-lg $form-select-indicator-padding $form-select-padding-y-lg $form-select-padding-x-lg;
          font-size: $form-select-font-size-lg;
          border-radius: $form-select-border-radius-lg;

          &__arrow {
            right: $form-select-padding-x-lg;
          }
        }

        .select2-dropdown {
          border-radius: $form-select-border-radius-lg;
        }

        .select2-results {
          &__option {
            padding: $form-select-padding-y-lg $form-select-padding-x-lg;
            font-size: $form-select-font-size-lg;
          }
        }
      }
    }
  }
}

.select2-hidden-accessible {
  @include visually-hidden;

  top: 0;
}
