//- +breadcrumb(["Home", "About us"])

mixin breadcrumb(obj)
  - const breadcrumbItems = obj;

  if breadcrumbItems.length
    nav(aria-label="Breadcrumb")&attributes(attributes)
      ol.breadcrumb
        each item, i in breadcrumbItems
          - const isObject = typeof item === "object" && item !== null;

          if i === breadcrumbItems.length - 1
            if isObject
              li.breadcrumb-item.active(aria-current="page")= item.text
            else
              li.breadcrumb-item.active(aria-current="page")= item
          else
            li.breadcrumb-item
              if isObject
                a(href=item.href)= item.text
              else
                a(href="#")= item
