//- +checkbox({checked: true}) Subscribe

mixin checkbox(obj)
  - const { name, checked, disabled } = obj;

  label.form-check&attributes(attributes)
    input.form-check-input(
      name=name ? name : "checkbox"
      type="checkbox"
      checked=checked ? true : false
      disabled=disabled ? true : false)
    span.form-check-label
      block
