//- +checkbox({checked: true}) Subscribe

mixin checkbox(obj)
  .form-check&attributes(attributes)
    input.form-check-input(type="checkbox" checked=obj.checked ? true : false disabled=obj.disabled ? true : false)
    span.form-check-label
      block
