//- +modal({
//- 	id: "modal-contacts",
//- 	size: "lg",
//- 	title: "Contacts",
//- })

mixin modal(obj)
  .modal.fade(aria-labelledby=obj.title ? obj.id + "-label" : false aria-hidden="true" id=obj.id tabindex="-1")&attributes(attributes)
    div(class="modal-dialog modal-dialog-centered" + (obj.size ? " modal-" + obj.size : ""))
      .modal-content
        .modal-header
          if (obj.title)
            h2.modal-title(id=obj.id + "-label")= obj.title
          button.btn-close(aria-label="Close" type="button" data-bs-dismiss="modal")
        .modal-body
          block
