//- +modal({ id: "modal-contacts", size: "lg", title: "Contacts" })

mixin modal(obj)
  - const { id, size, title } = obj;

  .modal.fade(aria-labelledby=title ? id + "-label" : false aria-hidden="true" id=id tabindex="-1")&attributes(attributes)
    div(class="modal-dialog modal-dialog-centered" + (size ? " modal-" + size : ""))
      .modal-content
        .modal-header
          if title
            h2.modal-title(id=id + "-label")= title
          button.btn-close(aria-label="Close" type="button" data-bs-dismiss="modal")
        .modal-body
          block
