//- +pagination({ pages: ["1", "2", "dots", "9", "10"], active: "1" })

mixin pagination(obj)
  - const { pages, active } = obj;

  if pages.length
    nav(aria-label="Pagination")&attributes(attributes)
      ul.pagination
        li.page-item.disabled
          a.page-link(aria-label="Previous" href="#")
            span(aria-hidden="true") «
        each page in pages
          if page === "dots"
            li.page-item.disabled
              a.page-link(href="#") ...
          else
            li(class="page-item" + (page === active ? " active" : ""))
              a.page-link(href="#")= page
        li.page-item
          a.page-link(aria-label="Next" href="#")
            span(aria-hidden="true") »
