//- +radio({ name: "Subscribe" }) Subscribe

mixin radio(obj)
  - const { name, checked, disabled } = obj;

  label.form-check&attributes(attributes)
    input.form-check-input(
      name=name ? name : "radio"
      type="radio"
      checked=checked ? true : false
      disabled=disabled ? true : false)
    span.form-check-label
      block
