//- +slider({ classForInit: "js-slider" })(class="slider")
//-   .swiper-slide
//-     h2.mb-0.p-40 Slide 1
//-   .swiper-slide
//-     h2.mb-0.p-40 Slide 2
//-   .swiper-slide
//-     h2.mb-0.p-40 Slide 3
//-   .swiper-slide
//-     h2.mb-0.p-40 Slide 4

mixin slider(obj)
  - const { classForInit } = obj;

  if classForInit
    .swiper-holder&attributes(attributes)
      .swiper(class=classForInit)
        .swiper-wrapper
          block
        .swiper-pagination
        button.swiper-button-prev(type="button")
        button.swiper-button-next(type="button")
