//- +slider({ classForInit: "js-slider" })(class="slider")
//-   .swiper-slide
//-     h2.mb-0.p-40 Slide 1
//-   .swiper-slide
//-     h2.mb-0.p-40 Slide 2
//-   .swiper-slide
//-     h2.mb-0.p-40 Slide 3
//-   .swiper-slide
//-     h2.mb-0.p-40 Slide 4

mixin slider(obj)
  - const { classForInit, navigationOutside, paginationOutside } = obj;

  if classForInit
    .swiper-holder&attributes(attributes)
      .swiper-holder-inner
        .swiper(class=classForInit)
          .swiper-wrapper
            block
        if navigationOutside
          .swiper-button-prev
          .swiper-button-next
      if paginationOutside
        .swiper-pagination
