extends ../templates/template-main.pug

block vars
	- let pageTitle = "Main";

block content
	// delete during development
	section(class="py-4 text-light" style="background-color: #4a4d6e")
		.container
			img(class="d-block mx-auto mb-3" src="img/x-project-logo.svg" alt="Logo" style="max-width: 280px")
			h4.mb-2.text-center Starter kit for fast HTML / CSS / JS pages layout based on Gulp
			.row.justify-content-center
				.col-8
					p.text-center.text-sm.mb-0 X-Project - is starter template with basic tasks for development, which uses Gulp to compile SASS to CSS (with SCSS syntax), add vendor prefixes, group media queries, remove comments and minimise CSS, convert ES6 into ES5 using Babel, optimising images, Browsersync for live-reload while development, simple favicon generator and project archiving.
	section.section
		.container
			h1 Heading h1
			h2 Heading h2
			h3 Heading h3
			h4 Heading h4
			h5 Heading h5
			h6 Heading h6
			.mb-4
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae provident aspernatur odio magnam est aut libero iure ex error perspiciatis facere, velit exercitationem inventore consectetur itaque quos nobis! Necessitatibus incidunt eius quasi veritatis ipsum, porro excepturi eos officia harum consequuntur quae earum mollitia sint vel quaerat voluptatibus optio quod itaque quis error placeat libero. Esse, nobis sapiente officiis omnis rem, tempora quod eius, est blanditiis reprehenderit in nemo corrupti cumque. Nihil quaerat quam vero sint, sequi obcaecati facilis veritatis provident repellat quae at neque sapiente illum. Aut quisquam aliquam, aspernatur iste architecto repellendus, blanditiis accusamus hic temporibus molestias veritatis voluptatem.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae provident aspernatur odio magnam est aut libero iure ex error perspiciatis facere, velit exercitationem inventore consectetur itaque quos nobis! Necessitatibus incidunt eius quasi veritatis ipsum, porro excepturi eos officia harum consequuntur quae earum mollitia sint vel quaerat voluptatibus optio quod itaque quis error placeat libero. Esse, nobis sapiente officiis omnis rem, tempora quod eius, est blanditiis reprehenderit in nemo corrupti cumque. Nihil quaerat quam vero sint, sequi obcaecati facilis veritatis provident repellat quae at neque sapiente illum. Aut quisquam aliquam, aspernatur iste architecto repellendus, blanditiis accusamus hic temporibus molestias veritatis voluptatem.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae provident aspernatur odio magnam est aut libero iure ex error perspiciatis facere, velit exercitationem inventore consectetur itaque quos nobis! Necessitatibus incidunt eius quasi veritatis ipsum, porro excepturi eos officia harum consequuntur quae earum mollitia sint vel quaerat voluptatibus optio quod itaque quis error placeat libero. Esse, nobis sapiente officiis omnis rem, tempora quod eius, est blanditiis reprehenderit in nemo corrupti cumque. Nihil quaerat quam vero sint, sequi obcaecati facilis veritatis provident repellat quae at neque sapiente illum. Aut quisquam aliquam, aspernatur iste architecto repellendus, blanditiis accusamus hic temporibus molestias veritatis voluptatem.
			.mb-4
			form
				.row.gy-3
					.col-6
						label(class="form-label" for="name") Name
						input(id="name" class="form-control" type="text" placeholder="Name")
					.col-6
						label(class="form-label" for="email") Email
						input(id="email" class="form-control" type="email" placeholder="Email")
					.col-12
						label(class="form-label" for="message") Message
						textarea.form-control(id="message" placeholder="Message")
					.col-12
						button.btn.btn-primary(type="submit") Submit
	// delete during development END
