script(src='libs/jquery/jquery.min.js')
script(src='libs/bootstrap/bootstrap.bundle.min.js')
script(src='libs/slick/slick.min.js')
script(src='libs/slick-lightbox/slick-lightbox.min.js')

script(src='js/common.js')