$scroll-top-btn-size: 50px;

.scroll-top-btn {
	width: $scroll-top-btn-size;
	height: $scroll-top-btn-size;
	background-color: $secondary;
	color: $primary;
	position: relative;
	position: fixed;
	bottom: 0;
	right: 50px;
	transition: 0.3s;
	transform: translate(0, 100%);

	&__icon {
		font-size: 50px;
		color: $white;
		@include absolute-center;
	}

	&:hover {
		background-color: lighten($secondary, 5%);
	}

	&.show {
		transform: translate(0, 0);
	}
}