.video-thumbnail {
	cursor: pointer;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $black;

	&-icon {
		@include absolute-center;
		z-index: 10;

		&.-youtube-icon {
			width: 68px;
			height: 48px;

			.ytp-large-play-button-bg {
				transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1);
			}
		}

		&.-vimeo-icon {
			width: 65px;
			height: 40px;
			transition: opacity 250ms ease-out,background-color 40ms,color 40ms;
			background: rgba(23,35,34,.75);
			border-radius: .5em;

			svg {
				@include absolute-center;
				width: 20px;
				height: 20px;
			}
		}
	}

	&:hover {
		.video-thumbnail-icon {
			&.-youtube-icon {
				.ytp-large-play-button-bg {
					transition: fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);
					fill: #f00;
					fill-opacity: 1;
				}
			}

			&.-vimeo-icon {
				background-color: #3CAEF2;
			}
		}
	}
}