::-webkit-scrollbar-button {
	background-image: url();
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
}

::-webkit-scrollbar-track {
	background-color: $scrollbar-track-bg-color;

	&:active {
		background-color: lighten($scrollbar-track-bg-color, 5%);
	}
}

::-webkit-scrollbar-thumb {
	border-radius: $scrollbar-thumb-rounding;
	background-color: $scrollbar-thumb-color;
	background-image: $scrollbar-thumb-icon;
	background-repeat: no-repeat;
	background-position: center;

	&:hover {
		background-color: lighten($scrollbar-thumb-color, 5%);
	}

	&:active {
		background-color: darken($scrollbar-thumb-color, 5%);
	}
}

::-webkit-resizer {
	background-image: url('');
	background-repeat: no-repeat;
	background-color: $scrollbar-track-bg-color;
	width: $scrollbar-width;
	height: $scrollbar-height;
}

::-webkit-scrollbar {
	width: $scrollbar-width;
	height: $scrollbar-height;
}

// For Internet Explorer
body {
	scrollbar-face-color: $scrollbar-thumb-color;
	scrollbar-track-color: $scrollbar-track-bg-color;
	scrollbar-shadow-color: $scrollbar-thumb-color;
	scrollbar-arrow-color: $scrollbar-thumb-color;
}